/*!
 *  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 */
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.woff?v=3.0.1");
  font-weight: normal;
  font-style: normal;
}

/**
 * The rest of this file is subject to the project license described at
 * https://bitbucket.org/AMcBain/kahvi-collective-album-preview-app for the license
 *
 * Please visit there for details.
 */

html {
    min-height: 100%;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    /* Image copyright me! Arthur McBain http://asmcbain.net I really like this picture. Please don't steal it. Plus, it's about 50% quality of the original. */
    background: url(../images/WP_20130706_004+.jpg) #96cdf4;
    background: url(../images/stamp.png), url(../images/WP_20130706_004+.jpg) 0 0 / cover #96cdf4;
    background: linear-gradient(to top right, rgba(255,255,255,.5), transparent), url(../images/stamp.png), url(../images/WP_20130706_004+.jpg) 0 0 / cover #96cdf4;
}

body {
    width: 448px;
    margin: 2em auto;
    -webkit-transition: height 1s;
    transition: height 1s;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    position: relative;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}

li.disabled {
    cursor: default;
}

li.disabled:hover, nav li:hover {
    text-decoration: none;
}

li.disabled:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.1);
    background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 4px);
}

li:nth-child(odd) {
    background: #fafafa;
}

li span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

li span:first-child {
    float: right;
    font-size: small;
    margin-top: .125em;
    margin-left: 1em;
}

nav ul, footer {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}

nav ul {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

nav ul, footer {
    background: rgba(0, 0, 0, .3);
}

nav li {
    display: inline-block;
    list-style-type: none;
    width: 20%;
    margin-left: 1.75em;
    padding-bottom: .125em;
    font-weight: 400;
    color: white;
}

nav li:nth-child(odd) {
    background: none;
}

nav li:first-child {
    margin: 0;
}

nav li.active {
    cursor: default;
}

nav li.active:before, nav li.active:after {
    content: "";
    position: absolute;
    width: .125em;
    height: .125em;
    border: 1px solid white;
}

nav li.active:before {
    top: .25em;
    left: 1em;
    border-right: none;
    border-bottom: none;
}

nav li.active:after {
    right: 1em;
    bottom: .25em;
    border-top: none;
    border-left: none;
}

nav li.disabled {
    color: #f0f0f0;
}

nav li.disabled:before {
    content: none;
}

nav li.disabled:after {
    content: "";
    position: absolute;
    top: 45%;
    left: 15%;
    width: 65%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    border-bottom: 2px solid white;
}

body > div {
    position: relative;
    background: white;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    -webkit-transition: height 1s;
    transition: height 1s;
}

strong {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

strong:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    background: repeating-linear-gradient(-50deg, rgba(255, 0, 0, .3), rgba(255, 0, 0, .3) 1px, transparent 1px, transparent 3px);
    border-radius: 100%;
}

strong:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    background: white;
    border-radius: 100%;
}

strong span {
    display: table-cell;
    position: relative;
    z-index: 1;
    vertical-align: middle;
}

#search, #album, #about {
    padding: 1em;
}

#search div {
    position: absolute;
    top: 3em;
    right: 1em;
    bottom: 1em;
    left: 1em;
    overflow: hidden;
    overflow: auto; /* for now */
}

input[type="text"] {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: .25em;
}

#album {
    padding: 1em;
    background: white;
}

#album div, #album > span {
    position: absolute;
}

#album > span {
    font-family: FontAwesome;
    white-space: nowrap;
    color: #4682b4;
    cursor: pointer;
}

/* Base element styles for meter and progress in Firefox. */
progress, meter {
    position: absolute;
    top: 1em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 23px;
    border: none;
    background: none;
    border: 1px solid #4682b4;
    border-radius: 2px;
}

meter {
    right: 1em;
    width: 64px;
}

.none + meter {
    opacity: .375;
}

/* WebKit doesn't apply the previous, it uses these instead. */
::-webkit-progress-bar, ::-webkit-meter-bar {
    background: none;
}

/* Firefox's indication of the progress (and meter) state. */
::-moz-progress-bar, ::-moz-meter-bar {
    background: #4682b4;
}

/* IE10+'s indicator, and hopes it works on meter when they implement it. */
progress::-ms-fill, meter::-ms-fill {
    background: #4682b4;
    border: none;
}

/* WebKit's area indicating the progress and meter state. WebKit doesn't have a base ::-wekbit-meter-bar to use. */
::-webkit-progress-value, ::-webkit-meter-optimum-value, ::-webkit-meter-suboptimum-value, ::-webkit-meter-even-less-good-value {
    background: #4682b4;
}

/* Are you confused yet? I am. I wonder why something like these weren't standardized
   before it was recommended to be implemented. Seems like a big thing to miss to me. */

#album div:first-of-type {
    top: 32px;
    right: 1em;
    bottom: 2.8em;
    left: 1em;
    overflow: auto;
    margin-top: 2em;
    background: white;
}

#album li.active {
    background: #e5ebf1;
}

#album > div:last-child {
    right: 1em;
    bottom: .25em;
    left: 1em;
    background: white;
    border-top: 1px solid #4682B4;
}

#album > div:last-child:before {
    content: "";
    position: absolute;
    top: -2px;
    right: 0;
    left: 0;
    height: 1px;
    background: #e5ebf1;
}

#album > div:last-child a {
    position: absolute;
    right: 0;
    color: black;
    background: white;
}

#album > div:last-child a:before {
    content: "";
    display: inline-block;
    width: 1em;
}

#about {
    overflow: hidden;
}

#about p:first-child, #test p:first-child  {
    margin-top: 0;
}

#about p:last-child, #test p:last-child{
    margin-bottom: 0;
}

h1 {
    margin: 0;
    font-size: medium;
    font-weight: 400;
    text-align: center;
}

footer, footer a {
    color: white;
}

footer {
    display: block;
    padding: .25em 0;
    font-size: small;
    text-align: center;
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.catastrophic {
    font-weight: 400;
    color: #b03060;
}

.ahoooga {
    padding: 1em 2em;
    background: white;
}

.ahoooga:before {
    content: "\f021";
    float: left;
    font-family: FontAwesome;
    font-size: 128px;
    color: #b03060;
    margin-right: .25em;
}

.ahoooga h1 {
    text-align: left;
}

#test {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

/* Long sucker. This is why it's down here, instead of up above. */
em {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: radial-gradient(ellipse 10% 10% at 50% 10%, rgba(0,0,0,.125) 100%, transparent 100%),
                radial-gradient(ellipse 10% 10% at 78% 22%, rgba(0,0,0,.250) 100%, transparent 100%),
                radial-gradient(ellipse 10% 10% at 90% 50%, rgba(0,0,0,.375) 100%, transparent 100%),
                radial-gradient(ellipse 10% 10% at 78% 78%, rgba(0,0,0,.500) 100%, transparent 100%),
                radial-gradient(ellipse 10% 10% at 50% 90%, rgba(0,0,0,.625) 100%, transparent 100%),
                radial-gradient(ellipse 10% 10% at 22% 78%, rgba(0,0,0,.750) 100%, transparent 100%),
                radial-gradient(ellipse 10% 10% at 10% 50%, rgba(0,0,0,.875) 100%, transparent 100%),
                radial-gradient(ellipse 10% 10% at 22% 22%, rgba(0,0,0,1.00) 100%, transparent 100%);
    animation: throb 625ms linear infinite;
    animation-play-state: paused;
}

em.text {
    text-indent: 0;
    width: auto;
    height: auto;
    background: none;
}

@keyframes throb {
    0% {
        transform: rotate(0deg);
    }
    12.49% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(45deg);
    }
    24.99% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(90deg);
    }
    37.49% {
        transform: rotate(90deg);
    }
    37.5% {
        transform: rotate(135deg);
    }
    49.99% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62.49% {
        transform: rotate(180deg);
    }
    62.5% {
        transform: rotate(225deg);
    }
    74.99% {
        transform: rotate(225deg);
    }
    75% {
        transform: rotate(270deg);
    }
    87.49% {
        transform: rotate(270deg);
    }
    87.5% {
        transform: rotate(315deg);
    }
    99.99% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
