#{extends 'main.html' /}
#{set title:play.configuration.get('application.name') /}
#{set 'scripts'}
        <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}
        <nav>
            <ul>
                <li data-id="search" class="active">Search</li>
                <li data-id="album" class="disabled">Album</li>
                <li data-id="about">About</li>
            </ul>
        </nav>
        <div id="search" class="active">
            <input type="text" placeholder="Start typing to see matching suggestions">
            <div>
                <em>loading: please wait</em>
                <strong><span>An error occured processing your request.</span></strong>
                <ul></ul>
            </div>
        </div>
        <div id="album">
            <span title="play">play</span>
            <progress value="0" max="1">no progress</progress>
            <span title="mute volume">mute volume</span>
            <meter value="1">100% volume</meter>
            <div>
                <em>loading: please wait</em>
                <strong><span>Unable to retrieve the album information.</span></strong>
                <ol></ol>
            </div>
            <div>
                <span>no title</span> by <span>no artist</span>
                <a href="#">view on kahvi</a>
            </div>
        </div>
        <div id="about">
            <noscript>
                <p class="catastrophic">JavaScript is turned off. That rather nerfs this site. Consider turning on JavaScript and
                reloading this page. If you don't, nothing will work. You've been warned.</p>
            </noscript>
            <p>Allows searching <a href="http://www.kahvi.org/">Kahvi Collective</a> albums, <s>downloads and caches those albums on
            the fly,</s> and serves them up with a pretty interface to listen to them. Kahvi already has a site-integrated player
            available on each album page via the "FMP3" link. This is not a serious website, nor a replacement for the existing
            player.</p>
            <p>It is part of my "Why not?" approach to development of random applications for the fun of it to do different things
            and develop new designs. Hope you enjoy the app, it is
            <a href="https://bitbucket.org/AMcBain/kahvi-collective-album-preview-app">open source</a>.</p>
        </div>
        <footer>
            App & Background &copy; <a href="http://asmcbain.net">Art McBain</a>;
            Audio &amp; Text see <a href="http://www.kahvi.org/information.php">Kahvi Collective</a>
        </footer>
        <span id="test">ignore me</span>
